// Mixins Here
@import 'variables';

.btn-styles (@button-bg, @button-font) {
    // display: block;
    background-color: @button-bg;
    width: 50%;
    font-size: 2rem;
    color: @button-font;
    height: 15%;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
        background-color: @button-font;
        color: @button-bg;
    }
}
