// Navigation code here
@import 'variables';

.navstyles (@nav-bg, @nav-font, @nav-border) {
    background-color: @nav-bg;
    color: @nav-font;
    border: 1px @nav-border;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    // color: #22;
    // background: #f4f4f4;
    padding: 20px 0;
    // border: 1px double #e0e0e0;

    .navstyles(@wild-sand, @river-bend, @sea-shell);

    h1 {
        font-size: 4rem;
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 2%;
    }

    div {
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 45%;
    }
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

// nav {
//     @media @mobile {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         // flex-direction: column;
//         .funbus {
//             // width: 100%;
//             flex-basis: 100%;
//             text-align: center;
//             margin-bottom: 3.5%;
//         }

//         a {
//             width: unset;
//         }
//     }
// }
