// Navigation code here

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    // margin: 1.5% 25%;
    color: #22283b;
    background: #f4f4f4;
    padding: 20px 0;
    // border: 1px double #e0e0e0;

    h1 {
        font-size: 4rem;
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 2%;
    }

    div {
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 45%;
    }
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

// nav {
//     @media @mobile {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         // flex-direction: column;
//         .funbus {
//             // width: 100%;
//             flex-basis: 100%;
//             text-align: center;
//             margin-bottom: 3.5%;
//         }

//         a {
//             width: unset;
//         }
//     }
// }
